# i would usually ignore the js directory because that's only for compiled files and generally we don't put those in SCM but since we need this to work with github pages and i don't want to deal with workflows and s*** i'm just keeping it
# kermitcraft-intermission-modlist/src/js
kermitcraft-intermission-modlist/node_modules